[realmd]
BindAddr = 0.0.0.0:3724
#for mysql: hostname;port;username;password;dbname
#for sqlite: location of db file
DBUrl = localhost;3306;morpheus;morpheus;realmd
#database engine, mysql or sqlite
DBengine = mysql
#Number of threads to handle database tasks
DBThreads = 3
#Number of networking threads
NetThreads = 1
# Ban after failed logins (0 = false, 1 = true)
WrongPassBan = 1
#Count of failed logins to ban for
WrongPassAmnt = 3
#ban type, ip  or account
WrongPassBanType = ip
#Update interval for realmd's list of realms, in minutes.
UpdateInterval = 5

[proxyd]
#this address is sent to clients, so it CANNOT BE "0.0.0.0"
#to bind to multiple interfaces, run multiple proxies.
BindAddr = 192.168.1.1:8899
NetThreads = 3
#realm it is proxying for.
RealmID = 0
ConnectionLimit = 1000
#location of realms character database.
DBUrl = localhost;3306;morpheus;morpheus;characters
#name of realmd database. Proxyd needs it for account retrieval.
#user that proxyd uses, needs to have privileges for both databases.
RealmDB = realmd
WorldDB = world
DBengine = mysql
DBThreads = 3

[corba]
NSLocation = corbaloc:iiop:127.0.0.1:9966

[data]
dbc=/home/morpheus/dbc/

[log]
#directory where files will be stored
LogDir = "."

#log filter mask (todo: add explanation for flags)
LogFilterMask = 3

#log levels for various logging filters;
#must be between 1 and 3.
LogLevelSystem = 3
LogLevelChars = 3
